@model Noitcua.Models.sala
@{
    ViewData["Title"] = "Criar Sala";
}
@{
    var atualSalas = ViewData["NumeroSalas"];
}

<h2>Criar Sala</h2>

Salas: @atualSalas / 3
<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="titulo">Nome da Sala:</label>
        <input asp-for="titulo" class="form-control" />
        <span asp-validation-for="titulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="descricao">Descrição:</label>
        <input asp-for="descricao" class="form-control" type="text" />
        <span asp-validation-for="descricao" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Criar</button>
</form>