@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Leia a nossa <a>FAQ</a> sobre como utilizar os nossos serviços.</p>
</div>
<div class="text-center">
    <h2>FAQ</h2>
    <p>
        <b>1. O que é a Noitcua?</b>
        <br />A Noitcua é um serviço de leilões online direcionado para os clientes, permitindo que criem salas para solicitar a venda de itens específicos. O comprador seleciona o item desejado.
    </p>
    <p>
        <b>2. Como posso participar num leilão invertido?</b>
        <br />Para participar, é necessário criar uma conta no nosso site. Após o registo, explore os leilões ativos, faça ofertas nos itens desejados ou crie uma sala própria para adquirir um item.
    </p>
    <p>
        <b>3. Como posso saber se venci um leilão invertido?</b>
        <br />O comprador indicará na página do leilão, e o estado será adicionado ao seu perfil.
    </p>
    <p>
        <b>4. Quais são os métodos de pagamento aceites para leilões invertidos?</b>
        <br />As formas de pagamento são discutidas em conversa privada entre o comprador e o vendedor. Recomendamos o uso do PayPal devido à proteção oferecida e à capacidade de realizar devoluções, mas também é possível usar MBWay ou trocas presenciais.
    </p>
    <p>
        <b>5. Existe um prazo específico para concluir o pagamento após vencer um leilão invertido?</b>
        <br />O prazo para pagamento pode variar, mas geralmente é estabelecido em 48 horas após o encerramento do leilão.
    </p>
    <p>
        <b>6. Posso devolver um item num leilão invertido?</b>
        <br />As vendas em leilões invertidos geralmente são finais. Recomendamos uma revisão cuidadosa das descrições e condições dos itens antes de fazer licitações.
    </p>
    <p>
        <b>7. O que acontece se o vencedor do leilão invertido não efetuar o pagamento?</b>
        <br />Se o vencedor não efetuar o pagamento dentro do prazo estabelecido, medidas adicionais, como penalizações, podem ser aplicadas à conta do participante.
    </p>
    <p>
        <b>8. Como posso entrar em contato com o suporte em caso de problemas num leilão invertido?</b>
        <br />Para dúvidas, problemas ou assistência, entre em contato com a nossa equipa de suporte.
    </p>
    <p>
        <b>9. O que acontece quando um comprador fecha um acordo com um vendedor?</b>
        <br />Ao fechar um acordo, o comprador pode utilizar o comando '/sold@handle_vendedor/preço/metodo_de_pagamento' para encerrar a sala, transitando o estado de "open" para "closed".
    </p>
    <p>
        <b>10. Como comprador, como é que posso apagar uma sala?</b>
        <br />O comprador consegue apagar uma sala através utilização do comando /exit.
    </p>
    <p>
        <b>11. Como vendedor, como é que posso sair de uma sala onde anteriormente interagi?</b>
        <br />O vendedor pode sair de uma sala onde anteriormente interagiu com o auxílio do comando /exit.
    </p>
</div>
