@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Leia a nossa <a>FAQ</a> sobre como utilizar os nossos serviços.</p>
</div>
<div class="text-center">
<h2>FAQ</h2>
    <p>
        <b>1.    O que é a Noitcua?</b>
        <br />-   A Noitcua é um serviço de leilões online voltado para os clientes, que podem criar salas para solicitar a venda de um item específico. O item a adquirir é então selecionado pelo comprador.
    </p>
    <p>
        <b>2.    Como posso participar de um leilão invertido?</b>
        <br />-    Para participar, é necessário criar uma conta em nosso site. Após o registo, navegue pelos leilões ativos, faça ofertas nos itens que deseja comprar ou crie sua própria sala para adquirir um item.
    </p>
    <p>
        <b>3.    Como saber se venci um leilão invertido?</b>
        <br />-    O comprador irá indicar na página do leilão e o estado será adicionado ao seu perfil.
    </p>
    <p>
        <b>4.    Quais são os métodos de pagamento aceitos para leilões invertidos?</b>
        <br />-    As formas de pagamento aceitas são discutidas em conversa privada entre o comprador e o vendedor. Recomendamos o uso do PayPal devido à proteção ao consumidor e à capacidade de realizar devoluções, mas também é possível utilizar o MBWay ou realizar trocas presenciais.
    </p>
    <p>
        <b>5.    Existe um prazo específico para concluir o pagamento após vencer um leilão invertido?</b>
        <br />-    O prazo para o pagamento pode variar, mas geralmente é estabelecido em 48 horas após o encerramento do leilão.
    </p>
    <p>
        <b>6.    Posso devolver um item arrematado em um leilão invertido?</b>
        <br />-    As vendas em leilões invertidos geralmente são finais. Recomendamos que reveja cuidadosamente as descrições e condições dos itens antes de fazer lances.
    </p>
    <p>
        <b>7.    O que acontece se o vencedor do leilão invertido não efetuar o pagamento?</b>
        <br />-    Se o vencedor não efetuar o pagamento dentro do prazo estabelecido, medidas adicionais, como penalidades, podem ser aplicadas à conta do participante.
    </p>
    <p>
        <b>8.    Como posso entrar em contato com o suporte em caso de problemas em um leilão invertido?</b>
        <br />-    Para dúvidas, problemas ou assistência, entre em contato com a nossa equipe de suporte.
    </p>
</div>
