@model Noitcua.Models.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}

<head>
    <style>
        .form-container {
            width: 300px;
            padding: 20px;
            background-color: white;
            border: 2px solid black;
            border-radius: 10px;
            margin: 20px;
            position: absolute;
        }
    </style>
</head>
<body>
    <h2>Mudar Palavra Chave</h2>
    <p>Introduza a palavra chave e uma confirmação desta para efetuar a mudança da palavra chave.</p>
    <div class="form-container">
        <form asp-action="ResetPassword" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Password">Palavra Chave:</label>
            <input asp-for="Password" placeholder="Palavra Chave" type="password" />
            <br />
            <br />
            <label asp-for="ConfirmPassword">Confirmação:</label>
            <input asp-for="ConfirmPassword" placeholder="Confirmar Palavra Chave" type="password" />
            <br />
            <br />
            <button type="submit">Confirmar</button>
        </form>
    </div>
</body>